{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>404 Error page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'Schedule/404.css' %}">
    </head>
    <body>
        <div id="error-frame">
            <div class="container">
                <h1>404</h1>
                <h4>Opps! Page not found</h4>
                <p>Soory, the page you're looling for doesn't exist. you can go to home page.</p>
                <div class="btn">
                    <a href="#">Return home</a>
                </div>
            </div>
        </div>
    </body>
</html>