{% extends "Schedule/base.html" %}
{% block content %}

<ul>
        <h1>יומן חימוש - {{ day|date:"d/m/Y" }}</h1>
        <form method="POST">
            {% csrf_token %}
        <button class="but effect01" type="submit" name="month_log"><span>יומן חימוש אישי</span></button>
    </form>
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
                <tr>
                    <th style="width:84.9%">טופס מסירה - קבלת ציוד</th>
                    <th>החזרת ציוד - כליי ירייה</th>
                </tr>
                </thead>
        </table>
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
            <tr>
                <th>משמרת</th>
                <th>מס"ד</th>
                <th>ת.ז.</th>
                <th>שם</th>
                <th>שעה</th>
                <th>מס' נשק</th>
                <th>מס' מחסניות</th>
                <th>אזיקים</th>
                <th>פונדה</th>
                <th>נרתיק</th>
                <th>מפתחות</th>
                <th>קשר</th>
                <th>ערכת שמע</th>
                <th>שעה</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <form method="POST">
                    {% csrf_token %}
                <tr style="align-content: end">
                    <td><select name="shifts" id="shifts">
                        <option value="1">בוקר</option>
                        <option value="2">צהריים</option>
                        <option value="3">לילה</option>
                    </select></td>
                    <td>0</td>
                    <td><input type="text" name="id_num" id="id_num" required maxlength="9" minlength="9" style="width:100px;"></td>
                    <td>{{user_name}}</td>
                    <td><input type="time" name="time_in" id="time_in" required value="07:00"></td>
                    <td><select name="guns" id="guns">
                        {% for gun in guns %}
                        <option value="{{gun.id}}">{{gun.short_name}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="num_mags" id="num_mags">
                        {% for num_mag in num_mags_list %}
                        <option value="{{num_mag}}">{{num_mag}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="hand_cuffs" id="hand_cuffs">
                        {% for hand in hand_cuffs_list %}
                        <option value="{{hand}}">{{hand}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="mag_case" id="mag_case">
                        {% for mag in mag_case_list %}
                        <option value="{{mag}}">{{mag}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="gun_case" id="gun_case">
                        {% for gun in gun_case_list %}
                        <option value="{{gun}}">{{gun}}</option>
                        {% endfor %}
                    </select></td>
                    <td><input type="checkbox" name="keys" id="keys"></td>
                    <td><input type="checkbox" name="radio" id="radio"></td>
                    <td><input type="checkbox" name="radio_kit" id="radio_kit"></td>
                    <td><input type="time" name="time_out" id="time_out" value="15:00"></td>
                    <td style="padding-top:20px;"><button class="btn btn-info mb-4" type="submit" name="add" id="add">הוסף</button></td>
                </tr>
                </form>
                <form method="POST">
                    {% csrf_token %}
                {% for arming in object_list %}
            <tr style="align-content: end">
                {% if request.user|edit_permission:arming.name %}
                <td><select name="shifts{{arming.id}}" id="shifts{{arming.id}}">
                    <option value="1" {% if arming.shift_num == 1 %}selected{% endif %}>בוקר</option>
                    <option value="2" {% if arming.shift_num == 2 %}selected{% endif %}>צהריים</option>
                    <option value="3" {% if arming.shift_num == 3 %}selected{% endif %}>לילה</option>
                </select></td>
                <td>{{forloop.counter|counter_shifts:object_list}}</td>
                <td><input type="text" name="id_num{{arming.id}}" id="id_num{{arming.id}}" required maxlength="9" minlength="9" value="{{arming.id_num}}" style="width: 100px;"></td>
                <td>{{arming.name}}</td>
                <td><input type="time" value="{{arming.time_in|timestr}}" name="time_in{{arming.id}}" id="time_in{{arming.id}}"></td>
                <td><select name="guns{{arming.id}}" id="guns{{arming.id}}">
                    {% for gun in guns %}
                    {% if gun == arming.gun %}
                    <option value="{{gun.id}}" selected>{{gun.short_name}}</option>
                    {% else %}
                    <option value="{{gun.id}}">{{gun.short_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="num_mags{{arming.id}}" id="num_mags{{arming.id}}">
                    {% for num_mag in num_mags_list %}
                    {% if num_mag == arming.num_mags %}
                    <option value="{{num_mag}}" selected>{{num_mag}}</option>
                    {% else %}
                    <option value="{{num_mag}}">{{num_mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="hand_cuffs{{arming.id}}" id="hand_cuffs{{arming.id}}">
                    {% for hand in hand_cuffs_list %}
                    {% if hand == arming.hand_cuffs %}
                    <option value="{{hand}}" selected>{{hand}}</option>
                    {% else %}
                    <option value="{{hand}}">{{hand}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="mag_case{{arming.id}}" id="mag_case{{arming.id}}">
                    {% for mag in mag_case_list %}
                    {% if mag == arming.mag_case %}
                    <option value="{{mag}}" selected>{{mag}}</option>
                    {% else %}
                    <option value="{{mag}}">{{mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="gun_case{{arming.id}}" id="gun_case{{arming.id}}">
                    {% for gun in gun_case_list %}
                    {% if gun == arming.gun_case %}
                    <option value="{{gun}}" selected>{{gun}}</option>
                    {% else %}
                    <option value="{{gun}}">{{gun}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                {% if arming.keys == True %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}"></td>
                    {% endif %}
                    {% if arming.radio == True %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}"></td>
                    {% endif %}
                    {% if arming.radio_kit == True %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}"></td>
                    {% endif %}
                <td><input type="time" {% if arming.time_out != None %} value="{{arming.time_out|timestr}}" {% else %} value="07:00" {% endif %}
                    name="time_out{{arming.id}}" id="time_out{{arming.id}}"></td>
                <td><button class="btn btn-info mb-4" type="submit" value="{{arming.id}}" id="change" name="change">שנה</button></td>
                {% else %}
                <td>{{arming.shift_num|num_to_shift}}</td>
                <td>{{forloop.counter|counter_shifts:object_list}}</td>
                <td>{{arming.id_num}}</td>
                <td>{{arming.name}}</td>
                <td>{{arming.time_in|timestr}}</td>
                <td><select name="guns{{arming.id}}" id="guns{{arming.id}}">
                    {% for gun in guns %}
                    {% if gun == arming.gun %}
                    <option value="{{gun.id}}" selected disabled>{{gun.short_name}}</option>
                    {% else %}
                    <option value="{{gun.id}}" disabled>{{gun.short_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="num_mags{{arming.id}}" id="num_mags{{arming.id}}">
                    {% for num_mag in num_mags_list %}
                    {% if num_mag == arming.num_mags %}
                    <option value="{{num_mag}}" selected disabled>{{num_mag}}</option>
                    {% else %}
                    <option value="{{num_mag}}" disabled>{{num_mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="hand_cuffs{{arming.id}}" id="hand_cuffs{{arming.id}}">
                    {% for hand in hand_cuffs_list %}
                    {% if hand == arming.hand_cuffs %}
                    <option value="{{hand}}" selected disabled>{{hand}}</option>
                    {% else %}
                    <option value="{{hand}}" disabled>{{hand}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="mag_case{{arming.id}}" id="mag_case{{arming.id}}">
                    {% for mag in mag_case_list %}
                    {% if mag == arming.mag_case %}
                    <option value="{{mag}}" selected disabled>{{mag}}</option>
                    {% else %}
                    <option value="{{mag}}" disabled>{{mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="gun_case{{arming.id}}" id="gun_case{{arming.id}}">
                    {% for gun in gun_case_list %}
                    {% if gun == arming.gun_case %}
                    <option value="{{gun}}" selected disabled>{{gun}}</option>
                    {% else %}
                    <option value="{{gun}}" disabled>{{gun}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                {% if arming.keys == True %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" disabled></td>
                    {% endif %}
                    {% if arming.radio == True %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" disabled></td>
                    {% endif %}
                    {% if arming.radio_kit == True %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" disabled></td>
                    {% endif %}
                <td>{{arming.time_out|timestr}}</td>
                <td><button class="btn btn-info mb-4" type="submit" value="{{arming.id}}" id="change" name="change" disabled>שנה</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </form>
            </tbody>
        </table>
        <table style="margin-top: 20px;">
            <form method="POST">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th>משמרת בוקר</th>
                        <th>משמרת צהריים</th>
                        <th>משמרת לילה</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a style="margin-left: 5px;">נשקים בכספת:</a><input type="number" min="0" max="1000" step="1" placeholder="נשקים בכספת" name="gun_safe1" id="gun_safe1" value={{validation_log.num_guns_safe_m}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים בכספת:</a><input type="number" min="0" max="1000" step="1" placeholder="נשקים בכספת" name="gun_safe2" id="gun_safe2" value={{validation_log.num_guns_safe_a}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים בכספת:</a><input type="number" min="0" max="1000" step="1" placeholder="נשקים בכספת" name="gun_safe3" id="gun_safe3" value={{validation_log.num_guns_safe_n}}
                            style="width: 50px;"></td>
                    </tr>
                    <tr> 
                        <td><a style="margin-left: 5px;">נשקים במשמרת:</a><input type="number" min="0" max="1000" step="1" placeholder="נשקים במשמרת" name="gun_shift1" id="gun_shift1" value={{validation_log.num_guns_shift_m}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים במשמרת:</a><input type="number" min="0" max="1000" step="1" placeholder="נשקים במשמרת" name="gun_shift2" id="gun_shift2" value={{validation_log.num_guns_shift_a}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים במשמרת:</a><input type="number" min="0" max="1000" step="1" placeholder="נשקים במשמרת" name="gun_shift3" id="gun_shift3" value={{validation_log.num_guns_shift_n}}
                            style="width: 50px;"></td>
                    </tr>
                    <tr> 
                        <td><a style="margin-left: 5px;">שעה:</a><input type="time" placeholder="שעה" name="time1" id="time1" 
                            {% if validation_log.name_checked_n != None %} value={{validation_log.time_checked_m}} {% else %} value="07:00" {% endif %}></td>
                        <td><a style="margin-left: 5px;">שעה:</a><input type="time" placeholder="שעה" name="time2" id="time2" 
                            {% if validation_log.name_checked_n != None %} value={{validation_log.time_checked_a}} {% else %} value="07:00" {% endif %}></td>
                        <td><a style="margin-left: 5px;">שעה:</a><input type="time" placeholder="שעה" name="time3" id="time3" 
                            {% if validation_log.name_checked_n != None %} value={{validation_log.time_checked_n}} {% else %} value="07:00" {% endif %}></td>
                    </tr>
                    <tr> 
                        <td><a style="margin-left: 10px;">שם אחמ"ש:</a><input type="text" placeholder="שם אחמ'ש" name="manager1" id="manager1" 
                            style="width: 120px;" value={{validation_log.name_checked_m}}></td>
                        <td><a style="margin-left: 10px;">שם אחמ"ש:</a><input type="text" placeholder="שם אחמ'ש" name="manager2" id="manager2" 
                            style="width: 120px;" value={{validation_log.name_checked_a}}></td>
                        <td><a style="margin-left: 10px;">שם אחמ"ש:</a><input type="text" placeholder="שם אחמ'ש" name="manager3" id="manager3" 
                            style="width: 120px;" value={{validation_log.name_checked_n}}></td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-info mb-4" type="submit" name="shift1" id="shift1">חתימה</button></td>
                        <td><button class="btn btn-info mb-4" type="submit" name="shift2" id="shift2">חתימה</button></td>
                        <td><button class="btn btn-info mb-4" type="submit" name="shift3" id="shift3">חתימה</button></td>
                    </tr>
                </tbody>
                </form>
        </table>
</ul>
<div class="center_div">
    <ul>
        {% if previous_day %}
                <a class="btn btn-info mb-4" href="{% url 'armingday' year=previous_day|date:'Y' month=previous_day|date:'b'|getmonth day=previous_day|date:'d' %}" style="margin-top: 10px; margin-left: 60%;">
                    אתמול
                </a>
        {% endif %}
        {% if next_day %}
                <a class="btn btn-info mb-4" href="{% url 'armingday' year=next_day|date:'Y' month=next_day|date:'b'|getmonth day=next_day|date:'d' %}" style="margin-top: 10px;">
                    מחר</a>
        {% endif %}
    </ul>
</div>
{% endblock content %}