</div>
            <div style="margin-top: 3.5em">
                <a>פרסום:</a>{{ form.published }}
            </div>
        </div>
    <div class="content-section row">
        <div>
<table class="responsive-table-input-matrix" style="align-items: center">
		<thead>
        <tr>
			<th>תאריך</th>
			<th>{{ day0|date:"d.m" }}</th>
			<th>{{ day1|date:"d.m" }}</th>
			<th>{{ day2|date:"d.m" }}</th>
			<th>{{ day3|date:"d.m" }}</th>
			<th>{{ day4|date:"d.m" }}</th>
			<th>{{ day5|date:"d.m" }}</th>
			<th>{{ day6|date:"d.m" }}</th>
		</tr>
		<tr>
			<th></th>
			<th>ראשון</th>
			<th>שני</th>
			<th>שלישי</th>
			<th>רביעי</th>
			<th>חמישי</th>
			<th>שישי</th>
			<th>שבת</th>
		</tr>
		</thead>
		<tbody>

		<tr style="align-content: end">
			<td>6:30-14:30</td>
			<td>{{form.Day1_630}}</td>
			<td>{{form.Day2_630}}</td>
            <td>{{form.Day3_630}}</td>
            <td>{{form.Day4_630}}</td>
            <td>{{form.Day5_630}}</td>
            <td>{{form.Day6_630}}</td>
            <td>{{form.Day7_630}}</td>
		</tr>
		<tr>
			<td>7:00-15:00<br/>סריקה</td>
			<td>{{form.Day1_700_search}}</td>
			<td>{{form.Day2_700_search}}</td>
            <td>{{form.Day3_700_search}}</td>
            <td>{{form.Day4_700_search}}</td>
            <td>{{form.Day5_700_search}}</td>
            <td>{{form.Day6_700_search}}</td>
            <td>{{form.Day7_700_search}}</td>
		</tr>
		<tr>
		<td>7:00-15:00<br/>אחמ"ש</td>
			<td>{{form.Day1_700_manager}}</td>
			<td>{{form.Day2_700_manager}}</td>
            <td>{{form.Day3_700_manager}}</td>
            <td>{{form.Day4_700_manager}}</td>
            <td>{{form.Day5_700_manager}}</td>
            <td>{{form.Day6_700_manager}}</td>
            <td>{{form.Day7_700_manager}}</td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
			<td>{{form.Day1_720_1}}</td>
			<td>{{form.Day2_720_1}}</td>
            <td>{{form.Day3_720_1}}</td>
            <td>{{form.Day4_720_1}}</td>
            <td>{{form.Day5_720_1}}</td>
            <td>{{form.Day6_720_1}}</td>
            <td>{{form.Day7_720_1}}</td>
		</tr>
		<tr>
			<td>7:20-17:20<br/>משיכה</td>
			<td>{{form.Day1_720_pull}}</td>
			<td>{{form.Day2_720_pull}}</td>
            <td>{{form.Day3_720_pull}}</td>
            <td>{{form.Day4_720_pull}}</td>
            <td>{{form.Day5_720_pull}}</td>
            <td>{{form.Day6_720_pull}}</td>
            <td>{{form.Day7_720_pull}}</td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
			<td>{{form.Day1_720_2}}</td>
			<td>{{form.Day2_720_2}}</td>
            <td>{{form.Day3_720_2}}</td>
            <td>{{form.Day4_720_2}}</td>
            <td>{{form.Day5_720_2}}</td>
            <td>{{form.Day6_720_2}}</td>
            <td>{{form.Day7_720_2}}</td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
			<td>{{form.Day1_720_3}}</td>
			<td>{{form.Day2_720_3}}</td>
            <td>{{form.Day3_720_3}}</td>
            <td>{{form.Day4_720_3}}</td>
            <td>{{form.Day5_720_3}}</td>
            <td>{{form.Day6_720_3}}</td>
            <td>{{form.Day7_720_3}}</td>
		</tr>
        <tr>
			<td>14:00-22:00</td>
			<td>{{form.Day1_1400}}</td>
			<td>{{form.Day2_1400}}</td>
            <td>{{form.Day3_1400}}</td>
            <td>{{form.Day4_1400}}</td>
            <td>{{form.Day5_1400}}</td>
            <td>{{form.Day6_1400}}</td>
            <td>{{form.Day7_1400}}</td>
		</tr>
        <tr>
			<td>15:00-19:00</td>
			<td>{{form.Day1_1500_1900}}</td>
			<td>{{form.Day2_1500_1900}}</td>
            <td>{{form.Day3_1500_1900}}</td>
            <td>{{form.Day4_1500_1900}}</td>
            <td>{{form.Day5_1500_1900}}</td>
            <td>{{form.Day6_1500_1900}}</td>
            <td>{{form.Day7_1500_1900}}</td>
		</tr>
        <tr>
			<td>15:00-23:00</td>
			<td>{{form.Day1_1500}}</td>
			<td>{{form.Day2_1500}}</td>
            <td>{{form.Day3_1500}}</td>
            <td>{{form.Day4_1500}}</td>
            <td>{{form.Day5_1500}}</td>
            <td>{{form.Day6_1500}}</td>
            <td>{{form.Day7_1500}}</td>
		</tr>
        <tr>
			<td>לילה</td>
			<td>{{form.Day1_2300}}</td>
			<td>{{form.Day2_2300}}</td>
            <td>{{form.Day3_2300}}</td>
            <td>{{form.Day4_2300}}</td>
            <td>{{form.Day5_2300}}</td>
            <td>{{form.Day6_2300}}</td>
            <td>{{form.Day7_2300}}</td>
		</tr>
        <tr>
			<td>הערות</td>
			<td>{{form.Day1_notes}}</td>
			<td>{{form.Day2_notes}}</td>
            <td>{{form.Day3_notes}}</td>
            <td>{{form.Day4_notes}}</td>
            <td>{{form.Day5_notes}}</td>
            <td>{{form.Day6_notes}}</td>
            <td>{{form.Day7_notes}}</td>
		</tr>
		</tbody>
	</table>
            </div>
        <div style="margin-right: 1em">
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
        <tr>
			<th>תאריך</th>
			<th>{{ day7|date:"d.m" }}</th>
			<th>{{ day8|date:"d.m" }}</th>
			<th>{{ day9|date:"d.m" }}</th>
			<th>{{ day10|date:"d.m" }}</th>
			<th>{{ day11|date:"d.m" }}</th>
			<th>{{ day12|date:"d.m" }}</th>
			<th>{{ day13|date:"d.m" }}</th>
		</tr>
		<tr>
			<th></th>
			<th>ראשון</th>
			<th>שני</th>
			<th>שלישי</th>
			<th>רביעי</th>
			<th>חמישי</th>
			<th>שישי</th>
			<th>שבת</th>
		</tr>
		</thead>
		<tbody>

		<tr style="align-content: end">
			<td>6:30-14:30</td>
			<td>{{form.Day8_630}}</td>
			<td>{{form.Day9_630}}</td>
            <td>{{form.Day10_630}}</td>
            <td>{{form.Day11_630}}</td>
            <td>{{form.Day12_630}}</td>
            <td>{{form.Day13_630}}</td>
            <td>{{form.Day14_630}}</td>
		</tr>
		<tr>
			<td>7:00-15:00<br/>סריקה</td>
			<td>{{form.Day8_700_search}}</td>
			<td>{{form.Day9_700_search}}</td>
            <td>{{form.Day10_700_search}}</td>
            <td>{{form.Day11_700_search}}</td>
            <td>{{form.Day12_700_search}}</td>
            <td>{{form.Day13_700_search}}</td>
            <td>{{form.Day14_700_search}}</td>
		</tr>
		<tr>
		<td>7:00-15:00<br/>אחמ"ש</td>
			<td>{{form.Day8_700_manager}}</td>
			<td>{{form.Day9_700_manager}}</td>
            <td>{{form.Day10_700_manager}}</td>
            <td>{{form.Day11_700_manager}}</td>
            <td>{{form.Day12_700_manager}}</td>
            <td>{{form.Day13_700_manager}}</td>
            <td>{{form.Day14_700_manager}}</td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
			<td>{{form.Day8_720_1}}</td>
			<td>{{form.Day9_720_1}}</td>
            <td>{{form.Day10_720_1}}</td>
            <td>{{form.Day11_720_1}}</td>
            <td>{{form.Day12_720_1}}</td>
            <td>{{form.Day13_720_1}}</td>
            <td>{{form.Day14_720_1}}</td>
		</tr>
		<tr>
			<td>7:20-17:20<br/>משיכה</td>
			<td>{{form.Day8_720_pull}}</td>
			<td>{{form.Day9_720_pull}}</td>
            <td>{{form.Day10_720_pull}}</td>
            <td>{{form.Day11_720_pull}}</td>
            <td>{{form.Day12_720_pull}}</td>
            <td>{{form.Day13_720_pull}}</td>
            <td>{{form.Day14_720_pull}}</td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
			<td>{{form.Day8_720_2}}</td>
			<td>{{form.Day9_720_2}}</td>
            <td>{{form.Day10_720_2}}</td>
            <td>{{form.Day11_720_2}}</td>
            <td>{{form.Day12_720_2}}</td>
            <td>{{form.Day13_720_2}}</td>
            <td>{{form.Day14_720_2}}</td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
			<td>{{form.Day8_720_3}}</td>
			<td>{{form.Day9_720_3}}</td>
            <td>{{form.Day10_720_3}}</td>
            <td>{{form.Day11_720_3}}</td>
            <td>{{form.Day12_720_3}}</td>
            <td>{{form.Day13_720_3}}</td>
            <td>{{form.Day14_720_3}}</td>
		</tr>
        <tr>
			<td>14:00-22:00</td>
			<td>{{form.Day8_1400}}</td>
			<td>{{form.Day9_1400}}</td>
            <td>{{form.Day10_1400}}</td>
            <td>{{form.Day11_1400}}</td>
            <td>{{form.Day12_1400}}</td>
            <td>{{form.Day13_1400}}</td>
            <td>{{form.Day14_1400}}</td>
		</tr>
        <tr>
			<td>15:00-19:00</td>
			<td>{{form.Day8_1500_1900}}</td>
			<td>{{form.Day9_1500_1900}}</td>
            <td>{{form.Day10_1500_1900}}</td>
            <td>{{form.Day11_1500_1900}}</td>
            <td>{{form.Day12_1500_1900}}</td>
            <td>{{form.Day13_1500_1900}}</td>
            <td>{{form.Day14_1500_1900}}</td>
		</tr>
        <tr>
			<td>15:00-23:00</td>
			<td>{{form.Day8_1500}}</td>
			<td>{{form.Day9_1500}}</td>
            <td>{{form.Day10_1500}}</td>
            <td>{{form.Day11_1500}}</td>
            <td>{{form.Day12_1500}}</td>
            <td>{{form.Day13_1500}}</td>
            <td>{{form.Day14_1500}}</td>
		</tr>
        <tr>
			<td>לילה</td>
			<td>{{form.Day8_2300}}</td>
			<td>{{form.Day9_2300}}</td>
            <td>{{form.Day10_2300}}</td>
            <td>{{form.Day11_2300}}</td>
            <td>{{form.Day12_2300}}</td>
            <td>{{form.Day13_2300}}</td>
            <td>{{form.Day14_2300}}</td>
		</tr>
        <tr>
			<td>הערות</td>
			<td>{{form.Day8_notes}}</td>
			<td>{{form.Day9_notes}}</td>
            <td>{{form.Day10_notes}}</td>
            <td>{{form.Day11_notes}}</td>
            <td>{{form.Day12_notes}}</td>
            <td>{{form.Day13_notes}}</td>
            <td>{{form.Day14_notes}}</td>
		</tr>
		</tbody>
        </table>